<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../auth.js"></script>

</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <button onclick="location.href='signup.html'">Sign Up</button>
        <button onclick="location.href='login.html'">Log In</button>
        <a href="{{ url_for('select_language') }}">Change Language</a>

    </div>
</body>
</html>
